.register{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    position: relative;
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: red;
        border: none;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
    .container{
        background-color: white;
        border-radius: 10px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: gray;
            margin-bottom: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            input{
                font-size: 18px;
                padding: 10px;
                border: none;
                border-bottom: 2px solid gray;
                background-color: white;
            }
            button{
                width: 50%;
                background-color: gray;
                color: white;
                font-weight: bolder;
                cursor: pointer;
                padding: 10px;
                border: none;
                border-radius: 5px;
            }
            span{
                font-size: 14px;
                color: gray;
            }
        }
    }
}